/*
 *	Dark Green: #009933;
 *	Dark Gray: #54544F;
 *
 *	Light Green: #33cc33;
 *	Light Gray: #8F8E87;
 */

.aboutus-text {
	font-size: 20px;
	padding: 20px 0px;
	color: #9D9D9D;
}
.aboutus-box {
	background-color: #222;
	overflow: auto;
}


.marginz {
	margin: 20px;
}
.marginz-bottom {
	margin-bottom: 20px;
}
.marginz-top {
	margin-top: 20px;
}
.padding {
	padding: 20px;
}
.big-button {
	font-size: 25px;
	padding-right: 10px;
}
a > button > .big-button {
	color: #333;
}
a:hover > button > .big-button {
	color: #333;
}
a > button {
	border-color: #009933;
	border-style: solid;
	border-width: 0px 0px 2px;
}
a:hover > button {
	background-color: #00BF40;
	border-color: #fff;
	border-style: solid;
	border-width: 0px 0px 2px;
}
.title-text {
	text-indent: 20px;
	color: #fff;
}
.title-box {
	border-color: #fff;
	border-style: solid;
	border-width: 0px 0px 2px;
}
.black-quote {
	color: #333;
	font-size: 30px;
	font-family: "times-new-roman";
}
.green-quote {
	color: #009933;
	font-size: 30px;
	font-family: "times-new-roman";
}
.join-pic > div {
	margin-bottom: 25px;
}
.show-content {
	background-color: #222;
	color: #fff;
	border-color: #fff;
	border-style: solid;
	border-width: 2px 0px 0px;
}
.show-content > img {
	padding: 20px;
}
.nav-footer > li > a {
	color: #9D9D9D;
	padding: 3px 15px;
}
.nav-footer > li > a:hover {
	color: #000;
	text-decoration: bold;
}
footer {
	color: #9D9D9D;
}
footer > div {
	padding: 15px;
	background-color: #222;
}
.nav-spacer {
	height: 100px;
	overflow: auto;
}
.center {}
@media (min-width: 768px) {
	.center {
		margin-left: auto;
		margin-right: auto;
	}
	.nav-spacer {
		height: 70px;
		overflow: auto;
	}
}
@media (min-width: 992px) {
	.center {
		margin-left: auto;
		margin-right: auto;
	}
	.nav-spacer {
		height: 70px;
		overflow: auto;
	}
}
@media (min-width: 1200px) {
	.center {
		margin-left: auto;
		margin-right: auto;
	}
	.nav-spacer {
		height: 70px;
		overflow: auto;
	}
}
