/*
 *	Dark Green: #009933;
 *	Dark Gray: #54544F;
 *	
 *	Light Green: #33cc33;
 *	Light Gray: #8F8E87;
 */
body {
    font-size: 18px;
}

a {
    color: #00862D;
}

    a:hover {
        color: #009933;
    }

    a,
    a:hover {
        text-decoration: none;
    }

.executive-committee {
    font-size: 20px;
}

    .executive-committee tr:hover {
        background-color: #fff;
    }

    .executive-committee td {
        padding-top: 5px;
        padding-bottom: 5px;
    }

        .executive-committee td:first-child {
            padding-left: 10px;
            vertical-align: top;
            width: 65%;
        }

        .executive-committee td div {
            padding-top: 5px;
            padding-bottom: 5px;
        }

.schedule-text {
    width: 100%;
}

    .schedule-text tr:hover {
        background-color: #fff;
    }

    .schedule-text td {
        padding: 5px;
    }

        .schedule-text td:last-child {
            text-align: right;
        }

.dark-content-box {
    overflow: hidden;
    padding: 10px;
    background-color: #222;
    color: #9D9D9D;
}

.games img {
    width: 100%;
}

.mission-statement {
    font-size: 20px;
    padding: 0px 5%;
}

    .mission-statement span {
        color: #009933;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
    }

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.aboutus-text {
    padding: 20px 0px;
    color: #9D9D9D;
}

.footer-text {
    font-size: 40px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo-image {
    padding: 0px !important;
}

.marginz {
    margin: 20px;
}

.marginz-vertical {
    margin-top: 20px;
    margin-bottom: 20px;
}

.marginz-bottom {
    margin-bottom: 20px;
}

.div-button {
    text-align: center;
    padding: 5px 20px;
    font-size: 25px;
    background-color: #009933;
    border-color: #009933;
    border-style: solid;
    border-width: 0px 0px 2px;
}

a .div-button {
    color: #000000;
}

a:hover .div-button {
    color: #000000;
    background-color: #00BF40;
    border-color: #fff;
    border-style: solid;
    border-width: 0px 0px 2px;
}

.title-text {
    text-indent: 30px;
    color: #fff;
}

.white-box-boarder {
    border-color: #fff;
    border-style: solid;
    border-width: 0px 0px 2px;
}

.twitter-box-content {
    height: 490px !important;
}

.twitter-box-content iframe {
    height: 487px !important;
}

.aboutus-text {
    font-size: 20px;
    color: #9D9D9D;
}

.black-quote {
    color: #333;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.join-pic div {
    margin-bottom: 25px;
}

.events .dark-content-box .row {
    height: 175px;
    padding: 10px 0px;
    border-color: #fff;
    border-style: solid;
    border-width: 0px 0px 1px;
}

.events h2 {
    color: #009933;
    margin-top: 0px;
}

.events ul {
    list-style-type: none;
    padding-left: 0px;
}

.events li {
    font-size: .9em;
}

.events .div-button {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.nav-footer li a {
    color: #9D9D9D;
    padding: 3px 15px;
}

    .nav-footer li a:hover {
        color: #000;
        text-decoration: solid;
    }

footer {
    color: #9D9D9D;
}

    footer > div {
        padding: 15px;
        background-color: #222;
    }

.nav-spacer {
    height: 140px;
    overflow: auto;
}

@media (min-width: 768px) {
    .nav-spacer {
        height: 70px;
        overflow: auto;
    }
}

@media (min-width: 992px) {
    .nav-spacer {
        height: 70px;
        overflow: auto;
    }
}

@media (min-width: 1200px) {
    .nav-spacer {
        height: 70px;
        overflow: auto;
    }
}

.background-color-dark-green {
    background-color: #009933;
}

.background-color-dark-gray {
    background-color: #54544F;
}

.background-color-light-green {
    background-color: #33cc33;
}

.background-color-light-gray {
    background-color: #8F8E87;
}

.text-color-dark-green {
    color: #009933;
}

.text-color-dark-gray {
    color: #54544F;
}

.text-color-light-green {
    color: #33cc33;
}

.text-color-light-gray {
    color: #8F8E87;
}

.boader-color-dark-green {
    border-color: #009933;
}

.boader-color-light-green {
    border-color: #33cc33;
}
