@{
    ViewBag.Title = "Events";
}

<section>
    <div class="background-color-dark-gray container-fluid">
        <div class="nav-spacer"></div>
        <div class="container row center-block">
            <div class="col-lg-8 col-md-8 col-sm-8" style="margin-bottom: 20px">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="title-text white-box-boarder">
                            <h1>Up & Coming Events</h1>
                        </div>
                        <div class="dark-content-box">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 marginz-bottom">
                                <div>
                                    <div>
                                        <a href="">
                                            <h3>Bi-Weekly ESI Staff Meetings</h3>
                                            <span>Date: TBD</span> <!-- April 11th, 2015 at the Ohio Union -->
                                        </a>
                                    </div>
                                    @*<div>
                                        <p>Another iteration of our League of Legends Facecheck will go down on April 11th in The Ohio Union. The event will be accompanied but a LAN event which will include an ARAM tournament, prizes, and much more! Stay tuned for the official Facebook event. NOTICE: Links will not be active until the Facebook event has been created, we apologize for the inconvenience. [<a href="#">more</a>]</p>
                                    </div>*@
                                </div>
                                <div>
                                    <div>
                                        <a href="">
                                            <h3>Smash Weeklies</h3>
                                            <span>Date: Every Tuesday at the Ohio Union, Great Hall</span>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <a href="">
                                            <h3>General LAN</h3>
                                            <span>Date: September 5th, 2015 at the Ohio Union, Great Hall</span>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <a href="">
                                            <h3>Smash</h3>
                                            <span>Date: September 6th, 2015 at the Ohio Union, Great Hall</span>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <a href="">
                                            <h3>Counter-Strike: Global Offensive</h3>
                                            <span>Date: Octuber 24th, 2015 at the Ohio Union, Great Hall</span>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <a href="">
                                            <h3>League of Legends</h3>
                                            <span>Date: November 14th, 2015 at the Ohio Union, Great Hall</span>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <a href="">
                                            <h3>LAN</h3>
                                            <span>Date: December 5th, 2015 at the Ohio Union, Great Hall</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 marginz-bottom">
                <div class="title-text white-box-boarder">
                    <h1>Schedule</h1>
                </div>

                <div class="dark-content-box">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                            <p>General LAN</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <p>September 5th</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                            <p>Smash/p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <p>September 6th</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                            <p>CS: GO</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <p>Octuber 24th</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                            <p>LOL</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <p>November 14th</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                            <p>LAN</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <p>December 5th</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="background-color-light-gray container-fluid">
        <div class="container row center-block marginz-bottom">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="title-text white-box-boarder">
                    <h1>Past Events</h1>
                </div>
                <div class="dark-content-box">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                        <div>
                            <p>NOTICE: The site has been recently updated the remained of past events will be added shortly. We apologize for the inconvenience however a text version of everything we have done is available <a href="https://docs.google.com/document/d/1AlUO06uYugQtkGaXMrWRm-E-SQ8k9VaNDGmNF4mO4zQ/edit?usp=sharing">here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>