@{
    ViewBag.Title = "Events";
}

<section>
    <div class="background-color-dark-gray container-fluid">
        <div class="nav-spacer"></div>
        <div class="container row center">
            <div class="col-lg-8 col-md-8 col-sm-8" style="margin-bottom: 20px">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="title-text" style="text-indent:0px">
                            <h1>Up & Coming Events</h1>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row show-content">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div>
                                    <div>
                                        <a href="#">
                                            <h3>League of Legends LAN</h3>
                                            <span>Date: April 11th, 2015 at the Ohio Union</span>
                                        </a>
                                    </div>
                                    <div>
                                        <p>Another iteration of our League of Legends Facecheck will go down on April 11th in The Ohio Union. The event will be accompanied but a LAN event which will include an ARAM tournament, prizes, and much more! Stay tuned for the official Facebook event. NOTICE: Links will not be active until the Facebook event has been created, we apologize for the inconvenience. [<a href="#">more</a>]</p>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <a href="https://www.facebook.com/events/1554924878092532/">
                                            <h3>Dota 2 Tournament (with MLG Arena Finals)</h3>
                                            <span>Date: April 18th, 2015 at MLG Columbus Arena</span>
                                        </a>
                                    </div>
                                    <div>
                                        <p>We are proud to present our first official Dota 2 event of the 2014-2015 school year by hosting the grand finals at the MLG Arena in Columbus. This event has an online bracket pool followed by an in person Grand Finals. Hurry registration ends March 17th! If you have questions proceed to [<a href="https://www.facebook.com/events/1554924878092532/">more</a>]</p>
                                    </div>
                                </div>
                                <div class="marginz-bottom">
                                    <div>
                                        <a href="https://www.facebook.com/events/744556875659280/">
                                            <h3>Shuffle VII</h3>
                                            <span>Date: May 23-24th, 2015 at the Ohio Union</span>
                                        </a>
                                    </div>
                                    <div>
                                        <p>Roaring off Shuffle V and VI the eSports Initiative is pleased to announce Shuffle VII. This tournament will feature Super Smash Brothers Melee, PM, and Smash 4. The event will be held in the spacious Ohio Union on May 23-24th. For information please visit [<a href="https://www.facebook.com/events/744556875659280/">more</a>]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 marginz-bottom">
                <div class="title-text">
                    <h1>Schedule</h1>
                </div>

                <div class="show-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                            <p>League LAN</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <p>April 11th</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                            <p>Dota 2</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <p>April 18th</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                            <p>Shuffle VII</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <p>May 23-24th</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="background-color-light-gray container-fluid">
        <div class="container row center marginz-top marginz-bottom">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="title-text" style="text-indent:0px">
                            <h1>Past Events</h1>
                        </div>
                    </div>
                </div>

                <div class="row show-content">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                        <div>
                            <div>
                                <a href="https://www.facebook.com/events/708725692573986/">
                                    <h3>Winter ESI LAN Party</h3>
                                    <span>Date: February 21st, 2015 at the Ohio Union Senate Chamber</span>
                                </a>
                            </div>
                            <div>
                                <p>ESI’s first event of the Spring semester is a LAN party! On February 21st join us in the Senate Chamber for Smash, League, Dota 2, and more! We will be hosting a Captains Draft League of Legends Tournament. As always we’ll be hosting a raffle at the event. For more information see [<a href="https://www.facebook.com/events/708725692573986/">more</a>]</p>
                            </div>
                        </div>
                        <div>
                            <p>NOTICE: The site has been recently updated the remained of past events will be added shortly. We apologize for the inconvenience however a text version of everything we have done is available <a href="https://docs.google.com/document/d/1AlUO06uYugQtkGaXMrWRm-E-SQ8k9VaNDGmNF4mO4zQ/edit?usp=sharing">here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>