
@{
    ViewBag.Title = "Sponsors";
}

<section class="background-color-dark-gray container-fluid">
    <div class="nav-spacer"></div>
    <div class="container row center-block marginz-bottom">
        <div class="title-text white-box-boarder">
            <h1>Sponsors</h1>
        </div>
        <div class="dark-content-box">
            <div class="col-lg-6 col-md-6 col-sm-6">
                @Html.Image("Logos/logitech-g-logo.png", "Logitech", new string[] { "width:100%" })
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h3>About Logitech:</h3>
                <p>Logitech’s gaming division has been with us for a number of years providing us with high quality mice, keyboards, and swag to raffle off for charity and events. To find out more about the gaming division visit <a href="http://gaming.logitech.com/en-us/home">Logitech Gaming</a>.</p>
            </div>
        </div>
    </div>
</section>

<section class="background-color-light-gray container-fluid">
    <div class="container row center-block marginz-vertical">
        <div class="white-box-boarder"></div>
        <div class="dark-content-box">
            <div class="col-lg-6 col-md-6 col-sm-6">
                @Html.Image("Logos/MLG-logo-feature.png", "MLG", new string[] { "width:100%" })
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h3>About MLG:</h3>
                <p>We have worked with MLG for the past two years. They have helped us refine our tournament systems and lead us to strive to hold the best events we can. Additionally, they frequently help us with events by providing equipment and/or venue space. Visit <a href="http://tv.majorleaguegaming.com/">mlg.tv</a> for more information.</p>
            </div>
        </div>
    </div>
</section>

