
@{
    ViewBag.Title = "Sponsors";
}

<section class="background-color-white container-fluid">
    <div class="container row center-block marginz-vertical">
        <div class="nav-spacer"></div>
        <div class="content-box">
            <div class="row sponsor">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a href="http://twitch.tv/">
                        @Html.Image("Logos/Twitch_BlackLogo.png", "Twitch", new string[] { "width:100%" })
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h3>About Twitch:</h3>
                    <p>Twitch is the worlds leading video platform and community for gamers. Starting with Shuffle VIII our events will be streamed live on <a href="https://www.twitch.tv/esportsinitiative">twitch.tv/esportsinitiative</a>.</p>
                </div>
            </div>

            <div class="row sponsor">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a href="https://steelseries.com/">
                        @Html.Image("Logos/steelseries_logo_05_hd_wallpaper.png", "SteelSeries", new string[] { "width:100%" })
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h3>About SteelSeries:</h3>
                    <p>SteelSeries is a leading provider of gaming peripherals including mice, keyboards and headsets. They are sponsoring Shuffle VIII and numerous ESI LANs.</p>
                </div>
            </div>

            <div class="row sponsor">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a href="http://www.gunnars.com/">
                        @Html.Image("Logos/GUNNAR-GLogo-Black.png", "Gunnars", new string[] { "width:100%" })
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h3>About Gunnar:</h3>
                    <p>Gunnar specializes in gaming eye ware and have worked with us on a mumber of events including Shuffle VIII.</p>
                </div>
            </div>
        </div>
    </div>
</section>
